 <div class="listSearchProperty">
    <div class="listProperty" >
        <% if (properties.length == 0){ %>
            <h3>Sorry, No property match your search. </h3>
        <% }else{ %>
            <% properties.forEach((value) => { %>
                <div class="myList">
                
                    <div class="info">
                        <h3 class="address"><%= value.addr %></h3>
                        <p class="room"><%= value.numRooms %> Bedroom <%= value.numBath %> Bathroom <%= value.parking %> Parking</p> 
                        <p class="style">Price:<%= value.price %></p> 
                        <p class="style">Type: <%= value.listing_type %></p>
                        <p class="style">Description: <%= value.listing_desc.substring(0, 20) %>...</p>
                        <p class="style">Posted on: <%= value.posted_date %></p>
                        <p class="style">By: <%= value.username %></p>
                        <a href="mailto:<%= value.email %>" style="margin-left: 20px" class="btn btn-default">Contact Owner</a>
                        <a href="#" style="margin-left: 80px" class="btn btn-default">View More</a>
                    </div>

                    <div class="picture">
                        <% image = value.image_path.split(",");%>
                        <% image.forEach((value) => { %>
                            <img class="propertyImage" src="/media/<%= value %>">
                        <% }) %>
                    </div>
                    
                </div>
            <% }) %>
        <% } %>
        </div>
    
    <% include search %>
 </div>
