<% include ./partials/header %>
<div class="showall">
    <div class="show">
        <%- include("partials/viewPropertyImage", {listing: listing}); %>
    </div>

        
        <% if (typeof listing !== "undefined"){ %>

    
                
        <% listing.forEach((value) => { %>
        <div class="propertyDetail">
        
                <div class="info">
                    <h3 class="address"><%= value.addr %></h3>
                    <p class="room"><%= value.numRooms %> Bedroom <%= value.numBath %> Bathroom <%= value.parking %> Parking</p> 
                    <p class="style">Price:<%= value.price %></p> 
                    <p class="style">Type: <%= value.listing_type %></p>
                    <p class="style">Description: <%= value.listing_desc.substring(0, 20) %>...</p>
                    <p class="style">Posted on: <%= value.posted_date %></p>
                    <p class="style">By: <%= value.username %></p>
                    <a href="mailto:<%= value.email %>" style="margin-left: 20px" class="btn btn-default">Contact Owner</a>
                    <a href="listings/<%= value.listing_id %>"" style="margin-left: 80px" class="btn btn-default">View More</a>
                </div>

              
                
            <% }) %>
                
        <% } %>
        
            <hr>
</div>
<% include ./partials/footer %>
